@media (max-width: 600px) {

   .products{
       display: inherit;
       height: auto;
       
   }
   .product{
       margin-top: auto;
       text-align: center;
   }
   .main-section{
       padding: 4%;
   }
   .information, .testimonies{
       display: inherit;
       height: auto;
   }

  .testimonies-content{
      margin: 20px auto;
  }

  .information-content{
      margin: 40px auto;
  }

 
}