/* -------Variables */
:root{
--green-color:#7acc2d;
--white-color: white;
--black-color: rgb(34, 31, 31);
/* ---espaciado */
--espace:10px;

/* ---Tipografia */
--normal:12px;

/* ---box-shadow */
--box: 0 0 2px 1px #c1bcbc;
}
/* -------Variables */





html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 253, 255);
    font-size: var(--normal);
    font-family: Helvetica;
}

/* h1{
    padding: 0;
    margin: 0;
} */

nav{
    /* border: 1px solid red; */
    background: var(--green-color);
    padding: var(--espace);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: var(--black-color);
}

nav li a:hover{
    color: var(--white-color);
}

/* ---------------Main section */

.main_section{
    border: 1px solid red;
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.webp");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.product{
    padding: var(--espace);
    margin-top: -290px;
    /* width: 30%; */
    
}

.product .content{
    /* border: 1px solid blue; */
    background: var(--white-color);
    padding: var(--espace);
    box-shadow: var(--box);
}

.img_content{
    /* padding-bottom: 30px; */
    text-align: center;

}

.main_button{
    background: var(--green-color);
    width: 100%;
    padding: var(--espace);
    font-size: var(--normal);
    border: 0;
    border-radius: 2px;
    color: var(--white-color);
    cursor: pointer;
}

.main_button:hover{
    background: #62883e;
}

.content{
    width: 220px;
}

/* ------------------information */

.information{
    background: gold;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid grey;
}

.information-content{
background: white;
width: 250px;
}

/* ------------------testimonies */
.testimonies{
    height: 300px;
    text-align: center;
   
   
}
.testimonies-content{
    border: 1px solid blue;
    margin: 20px;
    height: 200px;
    width: 200px;
}

.testimonies-person{
    width: 100%;
    display: flex;
    justify-content: center;
 
}





/* ------------------footer */
.footer{
    height: 50px;
    background: rgb(48, 46, 46);
   
}