html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 253, 255);
    font-size: 12px;
    font-family: Helvetica;
}

/* h1{
    padding: 0;
    margin: 0;
} */

nav{
    /* border: 1px solid red; */
    background: #7acc2d;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: rgb(83, 75, 75);
}

nav li a:hover{
    color: white;
}

/* ---------------Main section */

.main_section{
    border: 1px solid red;
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.webp");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    justify-content: center;
}

.product{
    padding: 10px;
    margin-top: -260px;
    /* width: 30%; */
    
}

.product .content{
    border: 1px solid blue;
    background: white;
    padding: 10px;
    box-shadow: 0 0 1px #c1bcbc;
}

.img_content{
    /* padding-bottom: 30px; */
    text-align: center;

}

.main_button{
    background: #7acc2d;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.main_button:hover{
    background: #62883e;
}