/* -------Variables */
:root{
--green-color:#7acc2d;
--white-color: white;
--black-color: rgb(34, 31, 31);
/* ---espaciado */
--espace:10px;
--espace-double:20px;

/* ---Tipografia */
--normal:12px;
--normal-14:14px;
--normal-16:16px;
--normal-18:18px;

/* ---box-shadow */
--box: 0 0 2px 1px #c1bcbc;
}
/* -------Variables */





html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 253, 255);
    font-size: var(--normal);
    font-family: Helvetica;
}

/* h1{
    padding: 0;
    margin: 0;
} */

nav{
    /* border: 1px solid red; */
    background: var(--green-color);
    padding: var(--espace);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: var(--black-color);
}

nav li a:hover{
    color: var(--white-color);
}

/* ---------------Main section */

.main_section{
    border: 1px solid red;
    padding: 13% 28%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.webp");
    max-height: 25px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.product{
    padding: var(--espace);
    margin-top: -290px;
    /* width: 30%; */
    
}

.product .content{
    /* border: 1px solid blue; */
    background: var(--white-color);
    padding: var(--espace);
    box-shadow: var(--box);
}

.img_content{
    /* padding-bottom: 30px; */
    text-align: center;

}

.main_button{
    background: var(--green-color);
    width: 100%;
    padding: var(--espace);
    font-size: var(--normal-16);
    font-weight: bold;
    border: 0;
    border-radius: 2px;
    color: var(--white-color);
    cursor: pointer;
}

.main_button:hover{
    background: #62883e;
}

.content{
    width: 220px;
    text-align: center;
}

.content h1{
    margin: var(--espace);
}

.content p{
    margin: var(--espace);
}

/* ------------------information */

.information{
   background: var(--white-color);
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    /* margin: 10px; */
    box-shadow: 5px 5px 5px #aaa
}

.information-content{
background: var(--white-color);
width: 250px;
padding: 10px;
text-align: center;
margin: var(--espace);
}

.information-img{
    height: 180px;
    text-align: center;
    
}

.information-img img{
    height: 180px;
    
}

.information-content p{
    text-align: left;
}



/* ------------------testimonies */
.testimonies{
    height: 300px;
    text-align: center;
   
   
}
.testimonies-content{
    /* border: 1px solid grey; */
    margin: 20px;
    height: 200px;
    width: 200px;
    box-shadow: var(--box);
    border-radius: 10px;
}

.testimonies-person{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
 
}

.testimonies-img img{
   height: 100px;
   border-top-left-radius:10px;
   border-top-right-radius:10px
   
}





/* ------------------footer */
.footer{
    height: 50px;
    background: rgb(48, 46, 46);
   
}